@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

.videoctexto {
    position: relative;
}

.videoctexto video {
    width: 100%;
}

.sobreposição {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}

.videoctexto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.808); /* Cor de sobreposição semi-transparente */
    z-index: 0;
  }

