@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

body{
  background-color: write;
}

.boxcenter {
  position: relative;

}
.boxfloatatraz {
  position: relative;
  z-index: 1;
}
.sobreposicao {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

h1 {
  font: 900 3em 'Bebas Neue', sans-serif;
  color: ;
}

h2 {
  font: 2em 'Bebas Neue', sans-serif;
  color: ;
}

.no-underline {
  text-decoration: none;
}

p {
  font: 1em Roboto, sans-serif;
  color: ;
}
